/* For body. */
body {
    background: linear-gradient(to bottom, #fff9f9, #f4e7df);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

/* For card. */
.card {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* For card content. */
.card-body {
    align-items: center;
    background: linear-gradient(to bottom, #ffe2e2, #eda8a8);
    background-size: 125% 125%;
    border-radius: 12px;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 2rem 2.25em 2.75rem 2.25rem;
    width: 75%;
    transition: background-position 0.5s ease, box-shadow 0.25s ease;
}

.card-body:hover {
    background-position: bottom;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.25);
}

/* For logo. */
.page-logo {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    height: 15rem;
    margin: 1.75rem;
    transition: filter 0.25s ease, transform 0.5s ease;
}

.logo:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.33));
    transform: rotate(7.5deg) scale(1.05);
}

/* For buttons. */
.card-button {
    align-self: center;
    justify-content: center;
}

/* For header text. */
.section-header {
    color: #4B486E;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    font-size: 2.5rem;
    font-weight: 900;
    margin: 1rem;
    text-align: center;
    transition: filter 0.2s ease;
}

.section-header:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.33));
}

/* For smaller header text. */
.section-header2 {
    color: #4B486E;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    font-size: 1.25rem;
    text-align: center;
    transition: filter 0.2s ease;
}

.section-header2:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.33));
}

/* For login and sign-up card sections. */
.login-form, .sign-up-prompt {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 500px;
    flex-direction: column;          
    justify-content: center;
    max-width: 600px;
}

.login-form:hover {
    background-position: bottom center;
}

/* For login form. */
.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    width: 100%;
}

/* For login form boxes placeholder text. */
.login-form input::placeholder {
    color: #524F73;
    font-size: 1.25rem;
    
}

/* For login form user input. */
.login-form input {
    background-color: #8785A2;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    color: #FFE2E2;
    font-family: "Poppins";
    font-size: 1.25rem;
    height: 3.5rem;
    margin: 0.5rem;
    padding: 1.25rem;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.login-form input:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    transform: scale(1.05);
}

/* For selected login from boxes. */
.login-form input:focus {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    outline: none;
}

/* For login form and sign-up button. */
.login-form .borderedButton-purple, .sign-up-prompt .borderedButton-purple {
    margin: 1rem;
    transform: scale(1.5);
}

.login-form form .borderedButton-purple:hover, .sign-up-prompt .borderedButton-purple:hover {
  transform: scale(1.5) !important;
}