.borderedButton button {
    border: none;
    font-family: "Poppins";
    cursor: pointer;

    box-shadow:
        0 5px 6px rgba(0, 0, 0, 0.28),
        inset 0 2px 3px rgba(0, 0, 0, 0.28);

    transition:
        transform 0.3s ease-in-out,
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.borderedButton button.borderedButton-large {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #8785A2;
    color: #FFE2E2;
}

.borderedButton button.borderedButton-large:hover {
    background-color: #FFE2E2;
    color: #8785A2;
    transform: scale(1.05);
    box-shadow:
        0 5px 6px rgba(0, 0, 0, 0.35),
        inset 0 2px 3px rgba(0, 0, 0, 0.28);
}

.borderedButton button.borderedButton-purple {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: #8785A2;
    color: #FFFFFF;
}

.borderedButton button.borderedButton-purple:hover {
    background-color: #FFE2E2;
    color: #000000;
    transform: scale(1.05);
    box-shadow:
        0 5px 6px rgba(0, 0, 0, 0.35),
        inset 0 2px 3px rgba(0, 0, 0, 0.28);
}

.borderedButton button.borderedButton-pink {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: #FFE2E2;
    color: #000000;
}

.borderedButton button.borderedButton-pink:hover {
    background-color: #8785A2;
    color: #FFFFFF;
    transform: scale(1.05);
    box-shadow:
        0 5px 6px rgba(0, 0, 0, 0.35),
        inset 0 2px 3px rgba(0, 0, 0, 0.28);
}