/* For sign-out popup's div. */
.sign-out-popup-card {
    align-items: center;
    background: rgba(0,0,0,0.33);
    display: flex;
    inset: 0;
    position: fixed;
    justify-content: center;
    z-index: 2000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For sign-out popup itself. */
.sign-out-popup {
    background: linear-gradient(to bottom, #fff9f9, #f4e7df);
    background-size: 125% 125%;
    border-radius: 8px;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.2);
    padding: 2rem;
    text-align: center;
    transition: background-position 0.5s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

.sign-out-popup:hover {
    background-position: bottom;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.25);
    transform: scale(1.05);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For header. */
.sign-out-popup-header {
    font-size: 1.15rem;
    color: #341539;
    margin-bottom: 1.5rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For buttons. */
.sign-out-popup-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For "Go Back" and "Sign Out" (link) buttons. */
.sign-out-no-button, .sign-out-yes-button {
    background-color: #8785A2;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.28), inset 0 2px 3px rgba(0, 0, 0, 0.28);
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    transition: background-color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                color 0.3s ease-in-out, 
                transform 0.3s ease-in-out;
}

.sign-out-no-button:hover, .sign-out-yes-button:hover {
    background-color: #FFE2E2;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35), inset 0 2px 3px rgba(0, 0, 0, 0.28);
    color: #000000;
    transform: scale(1.05);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For "Sign Out" (link) button. */
.sign-out-yes-button {
    text-decoration: none;
}