* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.home{
    display: flex;
    flex-direction: column;
}

.share{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FAF3EB;
    padding-bottom: 3rem;
    z-index: 5;      
}

.shareButton{
    margin-top: 10px;
    
}

.Logo2{
    flex: 1;
    margin-bottom: -2rem;
    margin-top: 2rem;
}

.logo2container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.works{
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: #EDA8A8;
    box-shadow: 0px 4px 10px rgb(45, 45, 45);
    z-index: 6;
}

.worksText{
    margin: 2rem;
    font-style: bold;
    color: #5C5A7B;
    font-size: 60px;
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 60px;
    padding: 0 20px;
    background-color: #EDA8A8;
    
}

.art-card {
    position: relative;
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 3rem;
    background-color: #FAF3EB;
}

.art-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

.art-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.friends{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #5C5A7B;
    box-shadow: 0px 4px 2px, rgb(0, 0, 0);
    z-index: 3;
}

.friend-card{
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin: 6rem;
    margin-bottom: 5rem;
    margin-left: 6rem;
    background-color: #FAF3EB;
    height: 25rem;
    width: 25rem;
}

.friend-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

.friends-text-area{
    display: flex;
    flex-direction: column;
}

.friendsText{
    color: #FFE2E2;
    font-size: 60px;
    font-style: bold;
    margin-top: 11.5rem;
    max-width: 40rem;
    margin-bottom: 1rem;
}

.friendsButton{
    color: #FFE2E2;

}