.mod-dashboard-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.mod-layout {
  display: flex;
  gap: 2rem;
}

.mod-sidebar {
  flex: 1; 
}

.mod-main {
  flex: 3; 
}

.card-shadow {
  border-radius: 16px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  background: #FFEAEA; 
  overflow: hidden;
}

/* PANEL */
.sidebar-panel {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 200px;
}

.panel-header {
  background: #CD6D6D;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  margin: -1.5rem -1.5rem 1rem -1.5rem;
  border-radius: 16px 16px 0 0;
  font-weight: bold;
  font-size: 1.2rem;
}

/* PANEL BUTTONS */
.mod-nav-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  padding: 0.5rem;
  color: #939191;
  transition: color 0.2s ease, transform 0.3s ease;
}

.mod-nav-btn.active {
  color: #CD6D6D;
}

.mod-nav-btn:hover {
  transform: scale(1.1);
}

/* CONTENT CARD */
.content-card {
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

/* TABLE */
.table-header {
  background: #CD6D6D; 
  color: #FFFFFF;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
  font-weight: bold;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.table-body {
  padding: 0 1.5rem;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
  padding: 1rem 0.75rem;
  align-items: center;
  color: #5E5B7C;
  font-size: 0.95rem;
  text-align: center;
  border-radius: 8px;
}

.table-row:nth-child(odd) {
  background: #FFEAEA;
}

.table-row:nth-child(even) {
  background: #FFE2E2;
}

.table-row:last-child {
  border-bottom: none;
}

/* IMAGE PREVIEW */
.preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-preview-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 4px;
}

/* ACTION DROPDOWN */
.action-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem;

  background-color: #CD6D6D;
  color: #FFFFFF;
  font-size: 0.95rem;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  text-align: center;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' viewBox='0 0 16 16'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px;
}

.action-select:hover {
    filter: brightness(0.90);
}

@media (max-width: 768px) {
  .mod-layout {
    flex-direction: column;
  }
  
  .table-header, .table-row {
    grid-template-columns: 1fr 1fr; 
    gap: 0.5rem;
  }
  
  .table-header span:nth-child(n+3),
  .table-row span:nth-child(n+3) {
    display: none; 
  }
  
  .table-header span:last-child,
  .table-row div:last-child {
    display: block; 
  }
}
